.search-result{
    padding-bottom: 24px;
    
    :first-of-type{
        -webkit-box-shadow: #D0D3D6 0 0 0 inset, #D0D3D6 0 0 0 inset, #D0D3D6 0 -1px 0 inset, #D0D3D6 0 0 0 inset;
        box-shadow: #D0D3D6 0 0 0 inset, #D0D3D6 0 0 0 inset, #D0D3D6 0 -1px 0 inset, #D0D3D6 0 0 0 inset;
        
        .card-header{
            color: rgba(0,0,0,0.85);
            font-weight: 400;
            font-size: 17px;
            font-size: 1.7rem;
            line-height: 1.41176471;
            display: block;
            margin-bottom: -8px;
            padding: 6px 0 2px 0;
            margin-top: 24.0px;
        }
    }
}